---
- hosts: julia.eridanus.uberspace.de
  roles:
    - role: uberspace
      vars:
        upload_ssh_keys:
          - "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
        generate_ssh_key: true
        domains:
          - name: example.com
            web: true
            mail: true
            link: true
          - name: www.example.com
            web: true
            link: true
          - name: blog.example.com
            web: true
            link: true
        mail:
          boxes:
            - name: admin
              password: VeryComplicatedPassw0rd
              simple_rules:
                - if: header :value "ge" :comparator "i;ascii-numeric" "X-Rspamd-Score" "4"
                  block:
                    - fileinto: "Spam"
                    - stop:
            - hello
          forwards:
            - name: hallo
              target: hello@example.com
            - name: my_dad
              target: dad@other.com
          catchall: admin
        report_new_mail_passwords: true

    - role: uberspace_wordpress_bedrock
      vars:
        instances:
          - name: example-blog
            entry_points:
              - blog.example.com
              - www.example.com/blog/
          - name: test
            docroot: ~/test
            bedrock_repo: https://github.com/yeah/bedrock.git
            bedrock_version: master
