#!/bin/bash
# {{ ansible_managed }}

PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin

openssl x509 -checkend 1296000 -in ~/.config/letsencrypt/live/{{ domains[0] }}/cert.pem > /dev/null

if [ $? != 0 ]; then
	# run let's encrypt
	letsencrypt certonly
	# import certificate
	uberspace-add-certificate \
		-k ~/.config/letsencrypt/live/{{ domains[0] }}/privkey.pem \
		-c ~/.config/letsencrypt/live/{{ domains[0] }}/cert.pem
	echo 'Done renewing certificates.'
fi
