---
domains:
  - example.com
  - www.example.com
  - blog.example.com
wordpress_instances:
  - name: example_blog
    bedrock_repo: https://github.com/yeah/bedrock.git
    domains:
      - blog.example.com
